/* https://gist.github.com/JeffreyWay/2f55afbf6e4940039ddccccbac25b8aa */

:root {
  --correct-color: #47d747;
  --present-color: #f7f749;
  --absent-color: #888;
  --invalid-color: #ff3f3f;
}

html,
body {
  height: 100%;
}

body {
  background: #0e1626;
  color: white;
  font-family: Poppins, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 0;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  height: 120px;
  margin-bottom: 1rem;
}

.message {
  text-align: center;
  margin-bottom: 0.75rem;
}

.new-game {
  font-weight: 300;
  font-size: 14px;
  background-color: #5987C0;
  border: 0;
  border-radius: 3px;
  padding-inline: 6px;
  padding-block: 4px;
  &:hover {
    background-color: #6498D9;
  }
}

#game {
  color: white;
  background-image:
    linear-gradient(153deg, #1c2b45 13%, #0c1321 85%),
    linear-gradient(149deg, #fec63b 3%, rgba(254, 198, 59, 0) 80%);
  position: relative;
  border-radius: 20px;
  width: 300px;
}

#game:before {
  content: '';
  display: block;
  position: absolute;
  inset: -7px;
  background-image: linear-gradient(138deg, #6ba0e2 -20%, #131e32 105%);
  z-index: -1;
  border-radius: 25px;
}

.row {
  display: flex;
  justify-content: center;
  &.current .tile:empty:first-of-type {
    animation: fade 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
}

@keyframes fade {
  50% {
    background: rgba(255, 255, 255, 0.05);
  }
}

.tile {
  border: 1px solid rgba(73, 110, 158, 0.1);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: #496e9e;
  &.correct {
    color: var(--correct-color);
    text-shadow: 0 0 12px rgba(38, 246, 110, 0.42);
  }
  &.present {
    color: var(--present-color);
    text-shadow: 0 0 12px rgba(246, 171, 38, 0.42);
  }
}

.row.invalid .tile,
.tile.invalid {
  color: var(--invalid-color);
  text-shadow: 0 0 12px rgba(246, 38, 38, 0.42);
}

#keyboard {
  margin-block: 3rem;
}

.key {
  background: #c5c5c5;
  border: 0;
  margin: 2px;
  height: 50px;
  min-width: 40px;
  border-radius: 4px;
  &.correct {
    background: var(--correct-color);
  }
  &.present {
    background: var(--present-color);
  }
  &.absent {
    background: var(--absent-color);
  } 
}
