html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #181818;
  color: #eee;
  font-family: sans-serif;
}

#game {
  outline: 2px solid #777;
}

.row {
  display: flex;
}

.tile {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid #777;
  font-size: 2rem;
}

.result {
  font-size: 1.3rem;
  text-align: center;
  display: block;
  margin-top: 1.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
